.Button button{
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    font-weight: 600;
    size: 18px;
    text-align: center;
    background-color: black;
    color: #34C94B;
    border-radius: 12px;
    width: 170px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 10px 16px 10px 16px; */
    /* position: absolute; */
    /* top: 13px;
    left: 1238px; */
}