.follow{
    width: 149px;
    height: 30px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* padding-left: 6px; */
}

