.feedBack-Container {
  height: 530px;
  width: 530px;
  border-radius: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.feedBack-Content{
    position: relative;
    background-color: white;
    color: black;
}