.navbar {
    background-color: #34C94B;
    height: 74px;
    width: 1440px;
    /* padding: 0px 20px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    position: relative;
  }
  