/* .search {
  padding: 14px 20px;
  height: 100%;
  border-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  /* border: 1px solid var(--color-black); */
/* } */

.SearchBar {
  border-radius: 8px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 568px;
  height: 48px;
}

.searchIco {
  width: 66px;
  height: 52px;
  border-left: none;
  border-radius: 0px 8px 8px 0px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  /* align-items: center;
  display: flex;
  flex-direction: column; */
}

.searchInp {
  border: 1px solid black;
  width: 502px;
  height: 48px;
  border-radius: 8px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
  padding-left: 20px;
  padding-right: 20px;
}

.searchInp::placeholder {
  /* padding-left: 20px; */
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #121212;
}

/* .listboxContainer {
  width: 500px;
  height: 200px;
} */

/* .css-1529v49 {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 200px;
  justify-content: center;
  align-items: normal;
  color: black;
  background-color: #ffffff30;
} */

/* .inputDiv input {
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  border: none;
  border-radius: 8px;
  padding-left: 10px;
  font-weight: 600;

} */

/* .searchInp{
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  border: none;
    border-radius: 8px;
    font-weight: 400;
    padding-left: 15px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #121212;
} */

/* .searchIco {
  display: flex;
  width: 66px;
  justify-content: center;
  border: 1px solid black;
  height: 48px;
  background-color: white;
    color: black;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
} */

/* .inputDiv {
  flex-direction: row;
    justify-content: space-between;
  background-color: white;
  align-items: center;
  display: flex;
  border-radius: 8px;
  gap: 25px;
  border: 1px solid black;
  width: 568px;
  height: 48px;
} */

.wrapper {
  display: flex;
  align-items: stretch;
  height: 48px;
}

/* .searchButton {
  border-radius: 0px 8px 8px 0px; */
/* padding: 14px 20px;
  height: 100%;
  border: 1px solid var(--color-black);
  border-left: none;
  cursor: pointer;
  height: 100%;
} */

.listElement {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.albumTitle {
  font-size: 16px;
}

.albumArtists {
  font-size: 12px;
}



.search {
  padding: 14px 20px;
  height: 100%;
  border-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 1px solid var(--color-black);
  width: 502px;
}

.wrapper {
  display: flex;
  align-items: stretch;
  height: 48px;
}

.searchButton {
  border-radius: 0px 8px 8px 0px;
  padding: 14px 20px;
  height: 100%;
  border: 1px solid var(--color-black);
  border-left: none;
  cursor: pointer;
  height: 100%;
}

.listElement {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.albumTitle {
  font-size: 16px;
}

.albumArtists {
  font-size: 12px;
}
