.backIcon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 85px;
  cursor: pointer;
}

.backIcon img {
  /* margin-left: 78px; */
  cursor: pointer;
}

.albumImg img {
  width: 290px;
  height: 330px;
  border-radius: 20px;
  object-fit: cover;
  object-position: center;
}

.albumDescription {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 75px;
  margin-top: 10px;
}

.albumName {
  width: 660px;
  color: white;
  /* justify-content: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 80px;
}

.descript {
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 660px;
}
.descript p {
  margin-top: 5px;
  margin-bottom: 0px;
}

.albumName h1 {
  margin: 0px;
}

.buttonIcons {
  display: flex;
  margin: 10px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 30px;
  cursor: pointer;
}
.buttonIcons img {
  margin-left: 0px;
  /* border: 1px solid white; */
}

.buttonIcons button {
  padding: 6px 8px;
  background-color: black;
  border: 1px solid green;
  border-radius: 12px;

  transition: background-color 0.3s ease, transform 0.3s ease;
}

.mainSection {
  color: white;
  margin-top: 100px;
  margin-bottom: 50px;
  /* font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px; */
}
.songCover {
  display: flex;
  width: 154px;
  height: 100%;
  align-items: center;
  /* justify-content: space-around; */
  gap: 15px;
  object-fit: cover; /* Ensures the image covers the container */
  object-position: center;
}

.songCover p {
  text-align: start;
  white-space: nowrap;
}

.songCoverImg img {
  width: 59px;
  height: 64px;
  object-fit: cover; /* Ensures the image covers the container */
  object-position: center; /* Centers the image */
  margin-left: 0px;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 1283px;
  margin: auto;
}

.header p {
  width: 70px;
}

/* .contents{
  display: flex;
  justify-content: space-around;
} */

.songContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 64px;
  row-gap: 10px;
}

hr {
  border-color: white;
  /* margin: revert; */
  align-items: center;
}

.songPic {
  display: flex;
  align-items: center;
  width: 165px;
  height: 64px;
}
.songPic img {
  width: 59px;
  height: 64px;
  object-fit: cover;
  object-position: center;
}

.songArtists {
  width: 142px;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  justify-content: normal;
  align-items: center;
}

.songDuration {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contents {
  width: 1283px;
  margin: auto;
}
